body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 170px;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  float: left;
}
.main-content {
  margin-bottom: 20px;
  border-bottom: 3px solid #bfd732;
  margin-left: 10px;
  padding-bottom: 10px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 18px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
.form-group {
  margin-bottom: 1rem;
  margin-left: 700px;
}
button.btn.btn-primary {
  margin-left: 50px;
  background-color: green;
}
.table .thead-dark th {
  color: #fff;
  background-color: rgb(79, 79, 245);
}
