<div class="sidenav">
  <a href="#about"> Add Course </a>
  <a href="#about"> Add Quiz </a>
</div>

<div class="main">
  <div class="accordion">
    <div class="card" (click)="show('training')">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button
            class="btn btn-link"
            type="button"
            data-toggle="collapse"
            data-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Add Course Content
          </button>
        </h5>
      </div>

      <div *ngIf="showContenet == 'training'">
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let course of courseDetails">
              <div class="row">
                <div class="col">
                  {{ course.courseName }}
                </div>
                <div class="col">
                  <button
                    class="btn btn-primary"
                    [routerLink]="['/dashboard', course.courseName]"
                  >
                    Launch Course
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            type="button"
            (click)="show('quizContent')"
          >
            Add Quiz Content
          </button>
        </h5>
      </div>
      <div *ngIf="showContenet == 'quizContent'">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <form>
                <div class="form-group">
                  <div class="row">
                    <div class="col">
                      <label for="exampleInputEmail1">Training </label>
                    </div>
                    <div class="col">
                      <input type="email" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col">
                      <label for="exampleInputEmail1">No Of Questions </label>
                    </div>
                    <div class="col">
                      <input type="number" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col">
                      <label for="exampleInputEmail1">Answer Type</label>
                    </div>
                    <div class="col">
                      <input type="number" class="form-control" />
                    </div>
                  </div>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
            <div class="col"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
