<div class="sidenav">
  <a>Adminstration</a>
  <a (click)="showContent('users')"> Manage Course </a>
  <a (click)="showContent('roles')"> Manage Roles </a>
</div>

<div class="main">
  <div class="" *ngIf="content == 'users'">
    <div class="main-content">
      <h3>Manage Course</h3>
    </div>

    <div class="search">
      <form>
        <div class="form-row align-items-center">
          <div class="col-auto my-1">
            <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect"
              >Preference</label
            >
            
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Search ..">
          </div>
          <button type="submit" class="btn btn-primary">Add course</button>
        </div>
      </form>
    </div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Course Id</th>
          <th scope="col">Course Name</th>
          <th scope="col">Roll</th>
          <th scope="col">Access</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">01</th>
          <td>Ariba</td>
          <td>Admin</td>
          <td>yes</td>
        </tr>
        <tr>
          <th scope="row">02</th>
          <td>Ams</td>
          <td>Admin</td>
          <td>Yes</td>
        </tr>
        <tr>
          <th scope="row">03</th>
          <td>Ariba</td>
          <td>Admin</td>
          <td>yes</td>
        </tr>
        <tr>
          <th scope="row">04</th>
          <td>Nss</td>
          <td>Admin</td>
          <td>Yes</td>
        </tr>
        <tr>
          <th scope="row">05</th>
          <td>Nss</td>
          <td>Admin</td>
          <td>Yes</td>
        </tr>
        <tr>
          <th scope="row">06</th>
          <td>Nss</td>
          <td>Admin</td>
          <td>Yes</td>
        </tr>
        <tr>
          <th scope="row">07</th>
          <td>Nss</td>
          <td>Admin</td>
          <td>Yes</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="content == 'roles'">
    <div class="main-content">
      <h2>Manage Roles</h2>
    </div>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        
       
      
      </tbody>
    </table>
  </div>
</div>
