<div class="container">
  <div class="card">
    <h5 class="card-header">Quiz</h5>
    <div class="card-body" *ngIf="!isQuizCompleted">
      <h5 class="card-title" style="text-align: left; margin-bottom: 20px">
        {{ qIndex + 1 }} . {{ currQuestion.question }}
      </h5>
      <form #quizForm="ngForm">
        <div class="row" *ngIf="currQuestion.answertype === 'single'">
          <div
            class="col-md-6 answ"
            *ngFor="let answer of currQuestion.answers"
          >
            <div style="text-align: left">
              <input
                type="radio"
                value="{{ answer }}"
                name="answer"
                ngModel
                style="margin-right: 20px"
              />{{ answer }}
            </div>
          </div>
          <div class="col-md-6">
            <button
              type="button"
              class="btn btn-primary"
              style="margin: 10px"
              (click)="submitAnswer(quizForm)"
            >
              Submit
            </button>
          </div>
        </div>
      </form>
      <div class="row" *ngIf="currQuestion.answertype === 'multiple'">
        <div class="col-md-6 answ" *ngFor="let answer of currQuestion.answers">
          <div tyle="text-align: left">
            <form #quizForm="ngForm">
              <input
                type="checkbox"
                value="{{ answer }}"
                name="answer"
                ngModel
                style="margin-right: 20px"
                (change)="onChange(answer, $event.target.checked)"
              />{{ answer }}
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <button
            type="button"
            class="btn btn-primary"
            style="margin: 10px"
            (click)="submitAnswer(quizForm)"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="isQuizCompleted">
      <h2>Congrats .. You Scored {{ score }} out of 10</h2>
      <img
        src="assets/back.png"
        alt="Back"
        routerLink="/dashboard"
        style="width: 50px; margin-left: 20px; cursor: pointer"
      />
    </div>
  </div>
</div>
