/* You can add global styles to this file, and also import other style files */
html,body {
    height: 100%;
 
}
@font-face {
    font-family: "Adient Sans";
    src: url("/assets/Fonts/AdientSansWeb-Regular.woff2") format("woff2");
    font-display: block;
  }
  
  @font-face {
    font-family: "Adient Sans";
    src: url("/assets/Fonts/AdientSansWeb-Bold.woff2") format("woff2");
    font-weight: bold;
    font-display: block;
  }

  body * {
font-family: "Adient Sans" !important;
}
