.requestor-detail {
    margin-bottom: 10px;
    margin-top: 10px;
}


.mat-card-content, .mat-card-subtitle {
    font-size: inherit !important;
}

.cart-item{
    margin-bottom: 1px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.cart-item-header{
    margin-bottom: 3px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: bold;
    font-size: 15px;
}