.fixed-top {
  position: static !important;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px;
 
  z-index: 1030;
  border-bottom: 1px solid #bfd732;
 
}
.bg-dark{
  background-color: #00465b !important;

  border-bottom: 2px solid #bfd732;
  color: #cade54;
}
img{
  width:90px;
}
h3.heading {
  padding-left: 10px;
  border-left: 2px solid;
}
.user_name span {
    font-size: 20px;
    display: block;
    margin-top: 2px;
    float: left;
    margin-left: 10px;
}
svg{
  float: left;
}
.user_name {
  margin-left: 350px;
}
.navbar {
  height:60px !important; 
}
@font-face {
  font-family: "Adient Sans";
  src: url("/assets/Fonts/AdientSansWeb-Regular.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "Adient Sans";
  src: url("/assets/Fonts/AdientSansWeb-Bold.woff2") format("woff2");
  font-weight: bold;
  font-display: block;
}