<div class="hw-100 row" style=" margin: 0px;">
  <section class="divided clearfix col-12">
    <div class="row hw-100 text-center">
      <div class="col col-12" style="background-color: white; text-align: left;     max-height: 67px;">
        <span style="color: #00465B; margin: 30px;" class="row">
          <h2 style=" color: #00465B; font-size: 45px; font-weight: 600; letter-spacing: 0px;">
            Smart </h2>
          <h2 style=" color: #BFD732;font-size: 45px;font-weight: 600; letter-spacing: 0px;">
            App </h2>
        </span>
      </div>
      <div class="col col-8 border-bottom border-sm-bottom border-md-bottom-0 p-5">
        <div class="p-5">
          <div class="col-8 h-100 border-bottom border-sm-bottom border-md-bottom-0"
            style="                    text-align: center;">
            <img src="assets/img/car_image.png" alt="">
          </div>
          <div class="col col-12" style="background-color: white; text-align: left;     max-height: 67px;">

            <span style="color: #00465B; justify-content: flex-end" class="row">
              <h4 style=" color: #00465B; font-size: 35px; font-weight: 600; letter-spacing: 0px;">
                Achieve </h4>
              <h4 style=" color: #BFD732;font-size: 35px;font-weight: 600; letter-spacing: 0px;">
                &nbsp;Digital transformation </h4>
            </span>
          </div>
        </div>
      </div>
      <div class="col col-4 p-5" style="    padding-top: 7rem !important;">
        <div class=" col-12 p-5">
          <div class="col-12 h-100">
            <div class="row h-100">
              <div class="col-12 mx-auto d-table h-100">
                <div class="d-table-cell align-middle">
                  <div class="text-center mt-4">
                    <h1 class="h2">Welcome to Adient</h1>
                    <p class="lead">
                      Sign in to your account to continue
                    </p>
                  </div>
                  <div class="card">
                    <div class="card-body">
                      <div class="m-sm-4">
                        <form>
                          <div class="form-group">
                            <mat-form-field class="col-12 paddingzero">
                              <mat-label class="col-sm-12 col-lg-12">Username </mat-label>
                              <input matInput placeholder="Enter your username " name="username1">
                            </mat-form-field>

                            <mat-form-field class="col-12 paddingzero">
                              <mat-label class="col-sm-12 col-lg-12">Password </mat-label>
                              <input matInput placeholder="Enter your password " name="password1">
                            </mat-form-field>
                            <div class="col-12" style="text-align: end;">
                              <small>
                                <a href="">Forgot password?</a>
                              </small>
                            </div>

                          </div>

                          <div class="text-center mt-3">
                            <a [routerLink]="['/dashboard']" class="btn btn-lg btn-primary">Sign in</a>
                            <!-- <button type="submit" class="btn btn-lg btn-primary">Sign
                                                            in</button> -->
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>
