<div class="wrpper">


<div class="container">
  <iframe
    *ngIf="python"
    width="560"
    height="315"
    src="https://www.youtube.com/embed/_uQrJ0TkZlc"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <iframe
    *ngIf="DataScience"
    width="560"
    height="315"
    src="https://www.youtube.com/embed/-ETQ97mXXF0"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <iframe
    *ngIf="javascript"
    width="560"
    height="315"
    src="https://www.youtube.com/embed/o1IaduQICO0"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <iframe
    *ngIf="pythonMegaCouse"
    width="560"
    height="315"
    src="https://www.youtube.com/embed/4F2m91eKmts"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <iframe
    *ngIf="pythonPrograming"
    width="560"
    height="315"
    src="https://www.youtube.com/embed/bjQPxuSUAc4"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <iframe
    *ngIf="machineLearning"
    width="560"
    height="315"
    src="https://www.youtube.com/embed/GwIo3gDZCVQ"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <br />

  <Button (click)="startQuizEvent()">Launch Quiz</Button>
  <Button routerLink="/dashboard">Back To Dashbord</Button>

  <div class="card" *ngIf="startQuiz">
    <h5 class="card-header">Quiz</h5>
    <div class="card-body">
      <h5 class="card-title">{{currentQuestion}}</h5>
     
     <div class="row">
      <div class="col-md-6" *ngFor="let ans of currentAnswers">
        <div class="answer" >
          <span (click)="submitAnswer()">{{ans}}</span>
          
        </div>
      </div>
    
     </div> <a href="#" class="btn btn-primary" style="margin: 10px;">Submit</a>
    </div>
  </div>
</div>
</div> 