<div class="wrpper">
  <div class="container">
    <h2></h2>
    <video controls (ended)="vidEnded()" width="600px" style="margin-top: 30px">
      <source src="assets/angular.mp4" type="video/mp4" />
    </video>
    <br />

    <Button
      (click)="startQuizEvent()"
      *ngIf="isEnded"
      class="btn btn-primary"
      routerLink="/quiz"
      >Launch Quiz</Button
    >
    <!-- <Button >Back To Dashbord</Button> -->
    <img
      src="assets/back.png"
      alt="Back"
      routerLink="/dashboard"
      style="width: 50px; margin-left: 20px; cursor: pointer"
    />
  </div>
</div>
