.example-container {
  display: flex;
  flex-direction: column;
}

.mat-table {
  overflow: auto;
}

.mobile-label {
  display: none;
}

.mat-header-cell {
    font-weight: bold;
    font-size: inherit;
    color: #0f445b;
    background-color: rgb(231, 232, 233);
    justify-content: left;
}

@media(max-width: 800px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
        font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }

 mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
    padding-left: 0px;
}
}

.mat-column-url {
    flex: 0 0 40%;
}

.mat-column-title {
    flex: 0 0 20%;
}
