<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 headerWrapper row">
    <div class="col-12 row">
      <div class="input-group mb-3 mt-2 col-6 paddingzero">
        <h4 class="page-header"><span style="color: #bfd732"> π π π </span>Workflow detail
        </h4>
      </div>
      <div class="input-group mb-3 mt-2 col-6 justify-content-end paddingzero">
        <div>
          <button type="button" class="btn btn-adient margin-left-15">
            Cancel
          </button>
          <button type="button" class="btn btn-adient margin-left-15">
            Edit
          </button>
        </div>
      </div>
    </div>
  </div>

  <mat-card class="google_border">
    <mat-card-content>
      <div class="container-fluid padding-bottom-3x mb-1 ">
        <div class="col-12 row">
          <div class="col-12">
            <div class="col-12" id="general_information">
              <h4 class="section-header">Workflow details</h4>
              <hr>
            </div>
            <div class="col-12 row requestor-detail">
              <div class="col-2 details-key">
                Workflow #:
              </div>
              <div class="col-10 details-value">
                1
              </div>
            </div>
            <div class=" col-12 row requestor-detail">
              <div class="col-2 details-key">
                Name:
              </div>
              <div class="col-10 details-value">
                North America-USA-Northern Area
              </div>
            </div>
            <div class="col-12 row requestor-detail">
              <div class="col-2 details-key">
                Description
              </div>
              <div class="col-10 details-value">
                North America-USA-Northern Area
              </div>
            </div>
            <div class="col-12 row requestor-detail">
              <div class="col-2 details-key">
                Regions:
              </div>
              <div class="col-10 details-value">
                North America
              </div>
            </div>
            <div class="col-12 row requestor-detail">
              <div class="col-2 details-key">
                Country:
              </div>
              <div class="col-10 details-value">
                United States of America
              </div>
            </div>

            <div class="col-12 row requestor-detail">
              <div class="col-2 details-key">
                Location:
              </div>
              <div class="col-10 details-value">
                Plymouth, Northwood, Holland, Detroit, Ann Harbour
              </div>
            </div>

            <div class="col-12 row requestor-detail">
              <div class="col-2 details-key">
                Work Groups:
              </div>
              <div class="col-10 details-value">
                WG-Managers, WG-VPs, WG-Procurement, WG-CIO
              </div>
            </div>
          </div>
        </div>

      </div>
    </mat-card-content>
  </mat-card>
</div>
