<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 headerWrapper row">
    <div class="col-12 row">
      <div class="input-group mb-3 mt-2 col-6 paddingzero">
        <h4 class="page-header"><span style="color: #bfd732"> π π π </span>Create Workflow
        </h4>
      </div>
    </div>
  </div>

  <mat-card class="google_border">
    <mat-card-content>
      <mat-horizontal-stepper #stepper>
        <ng-template matStepperIcon="edit">
          <mat-icon>done</mat-icon>
        </ng-template>
        <mat-step [stepControl]="firstFormGroup">

          <ng-template matStepLabel>Create workflow groups</ng-template>

          <div class="container-fluid paddingzero" style="margin-top: 20px; margin-bottom: 10px;">
            <div class="col-8">
              <div class="col-12 row">
                <div class="col-4 details-key-main">
                  <div class="col-12">
                    Name:
                  </div>
                </div>
                <div class="col-8">
                  <div class="form-group col-12 paddingzero margin-bottom-0 row">
                    <div class="col-12">
                      <mat-form-field class="col-12" appearance="outline">
                        <input matInput name="workgroupName" required>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 row">
                <div class="col-4 details-key-main">
                  <div class="col-12">
                    Region:
                  </div>
                </div>
                <div class="col-8">
                  <div class="form-group col-12 paddingzero margin-bottom-0 row">
                    <div class="col-12">
                      <mat-form-field class="col-12" appearance="outline">
                        <mat-select [formControl]="regMultiCtrl" placeholder="Select Region" [multiple]="true" required>
                          <mat-select-search [formControl]="regMultiFilterCtrl">
                          </mat-select-search>
                          <div style="padding: 12px;">
                            <mat-slide-toggle class="example-margin" [(ngModel)]="regChecked" (click)="toggleRegs();">
                              <span>Select All</span>
                            </mat-slide-toggle>
                          </div>
                          <mat-option *ngFor="let reg of filteredregMulti | async" [value]="reg"
                            (click)="resetRegSelectAll()">
                            <span> {{reg.name}}</span>
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 row">
                <div class="col-4 details-key-main">
                  <div class="col-12">
                    Country:
                  </div>
                </div>
                <div class="col-8">
                  <div class="form-group col-12 paddingzero margin-bottom-0 row">
                    <div class="col-12">
                      <mat-form-field class="col-12" appearance="outline">
                        <mat-select [formControl]="ctrMultiCtrl" placeholder="Select Country" [multiple]="true"
                          required>
                          <mat-select-search [formControl]="ctrMultiFilterCtrl">
                          </mat-select-search>
                          <div style="padding: 12px;">
                            <mat-slide-toggle class="example-margin" [(ngModel)]="ctrChecked" (click)="toggleCtrs();">
                              <span>Select All</span>
                            </mat-slide-toggle>
                          </div>
                          <mat-option *ngFor="let ctr of filteredctrMulti | async" [value]="ctr"
                            (click)="resetCtrSelectAll()">
                            <span> {{ctr.name}}</span>
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 row">
                <div class="col-4 details-key-main">
                  <div class="col-12">
                    Location:
                  </div>
                </div>
                <div class="col-8">
                  <div class="form-group col-12 paddingzero margin-bottom-0 row">
                    <div class="col-12">
                      <mat-form-field class="col-12" appearance="outline">
                        <mat-select [formControl]="locMultiCtrl" placeholder="Select Location" [multiple]="true"
                          required>
                          <mat-select-search [formControl]="locMultiFilterCtrl">
                          </mat-select-search>
                          <div style="padding: 12px;">
                            <mat-slide-toggle class="example-margin" [(ngModel)]="locChecked" (click)="toggleLocs();">
                              <span>Select All</span>
                            </mat-slide-toggle>
                          </div>
                          <mat-option *ngFor="let loc of filteredlocMulti | async" [value]="loc"
                            (click)="resetLocSelectAll()">
                            <span> {{loc.name}}</span>
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 row">
                <div class="col-4 details-key-main">
                  <div class="col-12">
                    Level:
                  </div>
                </div>
                <div class="col-8">
                  <div class="form-group col-12 paddingzero margin-bottom-0 row">
                    <div class="col-12">
                      <mat-form-field class="col-12" appearance="outline">
                        <input matInput name="level" required>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 row">
                <div class="col-4 details-key-main">
                  <div class="col-12">
                    Request Info Level:
                  </div>
                </div>
                <div class="col-8">
                  <div class="form-group col-12 paddingzero margin-bottom-0 row">
                    <div class="col-12">
                      <mat-form-field class="col-12" appearance="outline">
                        <input matInput name="level" required>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 row">
                <div class="col-4 details-key-main">
                  <div class="col-12">
                    First Notification (Days):
                  </div>
                </div>
                <div class="col-8">
                  <div class="form-group col-12 paddingzero margin-bottom-0 row">
                    <div class="col-12">
                      <mat-form-field class="col-12" appearance="outline">
                        <input matInput name="level" required>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 row">
                <div class="col-4 details-key-main">
                  <div class="col-12">
                    Frequency (Days):
                  </div>
                </div>
                <div class="col-8">
                  <div class="form-group col-12 paddingzero margin-bottom-0 row">
                    <div class="col-12">
                      <mat-form-field class="col-12" appearance="outline">
                        <input matInput name="level" required>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 row">
                <div class="col-4 details-key-main">
                  <div class="col-12">
                    User:
                  </div>
                </div>
                <div class="col-8">
                  <div class="form-group col-12 paddingzero margin-bottom-0 row">
                    <app-employee-search class="col-12" [employeeSearchValue]="'Search User'"
                      [buttonPlaceHolder]="'Search User'" [employeeSearchPlaceHolder]="'Search User'" [multiple]=true
                      [hideInputText]=false (selectedUserListener)="getSelectedUsers($event)">
                    </app-employee-search>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 footer-main-div">
              <div class="shopping-cart-footer">
                <div class="column">
                  <a class="btn-get-started cursor-pointer">Cancel</a>
                  <a class="btn-get-started cursor-pointer">Create group</a>
                </div>
              </div>
            </div>
          </div>

        </mat-step>
        <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">

          <ng-template matStepLabel>Create workflow rules</ng-template>
          <div class="col-12">
            <div class=" col-6 row requestor-detail">
              <div class="col-4 details-key-main">
                <div class="col-12">
                  Description:
                </div>
              </div>
              <div class="col-8 details-value">
                <mat-form-field class="col-12" appearance="outline">
                  <input matInput name="name" required>
                </mat-form-field>
              </div>
            </div>

            <div class=" col-6 row requestor-detail">
              <div class="col-4 details-key-main">
                <div class="col-12">
                  Request Type:
                </div>
              </div>
              <div class="col-8 details-value">
                <mat-form-field class="col-12" appearance="outline">
                  <input matInput name="name" required>
                </mat-form-field>
              </div>
            </div>

            <div class=" col-6 row requestor-detail">
              <div class="col-4 details-key-main">
                <div class="col-12">
                  Threshold:
                </div>
              </div>
              <div class="col-8 details-value row" style="margin-left: 0px;">
                <mat-form-field class="col-5" appearance="outline">
                  <input matInput name="name" required placeholder="Minimum Threshold">
                </mat-form-field>
                <div class="col-2 details-key-main">
                  <div class="col-12">
                    <b>-</b>
                  </div>
                </div>
                <mat-form-field class="col-5" appearance="outline">
                  <input matInput name="name" required placeholder="Maximum Threshold">
                </mat-form-field>
              </div>
            </div>

            <div class=" col-6 row requestor-detail">
              <div class="col-4 details-key-main">
                <div class="col-12">
                  Region:
                </div>
              </div>
              <div class="col-8 details-value">
                <mat-form-field class="col-12" appearance="outline">
                  <mat-select [formControl]="regMultiCtrl" placeholder="Select Region" [multiple]="true" required>
                    <mat-select-search [formControl]="regMultiFilterCtrl">
                    </mat-select-search>
                    <div style="padding: 12px;">
                      <mat-slide-toggle class="example-margin" [(ngModel)]="regChecked" (click)="toggleRegs();">
                        <span>Select All</span>
                      </mat-slide-toggle>
                    </div>
                    <mat-option *ngFor="let reg of filteredregMulti | async" [value]="reg"
                      (click)="resetRegSelectAll()">
                      <span> {{reg.name}}</span>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class=" col-6 row requestor-detail">
              <div class="col-4 details-key-main">
                <div class="col-12">
                  Country:
                </div>
              </div>
              <div class="col-8 details-value">
                <mat-form-field class="col-12" appearance="outline">
                  <mat-select [formControl]="ctrMultiCtrl" placeholder="Select Country" [multiple]="true" required>
                    <mat-select-search [formControl]="ctrMultiFilterCtrl">
                    </mat-select-search>
                    <div style="padding: 12px;">
                      <mat-slide-toggle class="example-margin" [(ngModel)]="ctrChecked" (click)="toggleCtrs();">
                        <span>Select All</span>
                      </mat-slide-toggle>
                    </div>
                    <mat-option *ngFor="let ctr of filteredctrMulti | async" [value]="ctr"
                      (click)="resetCtrSelectAll()">
                      <span> {{ctr.name}}</span>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class=" col-6 row requestor-detail">
              <div class="col-4 details-key-main">
                <div class="col-12">
                  Location:
                </div>
              </div>
              <div class="col-8 details-value">
                <mat-form-field class="col-12" appearance="outline">
                  <mat-select [formControl]="locMultiCtrl" placeholder="Select Location" [multiple]="true" required>
                    <mat-select-search [formControl]="locMultiFilterCtrl">
                    </mat-select-search>
                    <div style="padding: 12px;">
                      <mat-slide-toggle class="example-margin" [(ngModel)]="locChecked" (click)="toggleLocs();">
                        <span>Select All</span>
                      </mat-slide-toggle>
                    </div>
                    <mat-option *ngFor="let loc of filteredlocMulti | async" [value]="loc"
                      (click)="resetLocSelectAll()">
                      <span> {{loc.name}}</span>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class=" col-6 row requestor-detail">
              <div class="col-4 details-key-main">
                <div class="col-12">
                  Work Groups:
                </div>
              </div>
              <div class="col-8 details-value">
                <mat-form-field class="col-12" appearance="outline">
                  <mat-select [formControl]="wgMultiCtrl" placeholder="Select WorkGroup" [multiple]="true" required>
                    <mat-select-search [formControl]="wgMultiFilterCtrl">
                    </mat-select-search>
                    <mat-option *ngFor="let wg of filteredwgMulti | async" [value]="wg" (click)="resetWgSelectAll()">
                      <span> {{wg.name}}</span>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-12 footer-main-div">
              <div class="shopping-cart-footer">
                <div class="column">
                  <a class="btn-get-started cursor-pointer">Cancel</a>
                  <a class="btn-get-started cursor-pointer">Create Rule</a>
                </div>
              </div>
            </div>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card-content>
  </mat-card>
</div>
